@import 'container.css';

.aboutUs {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 35px;

    @media all and (min-width: 768px) {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    @media all and (min-width: 1150px) {
        padding-left: 175px;
        padding-top: 73px;
        padding-bottom: 38px;
    }

    &__header {

        @media all and (min-width: 768px) {
            margin-bottom: 50px;
        }

        @media all and (min-width: 1150px) {
        }
    }

    &__list {
        padding: 0;

        @media all and (min-width: 768px) {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 435px;
        }

        @media all and (min-width: 1150px) {
            margin-bottom: 50px;
        }
    }

    &__item {
        font-size: $main-font-size-s;
        font-weight: $font-weight-bold;
        line-height: auto;
        margin-top: 30px;

        @media all and (min-width: 768px) {
            font-size: 20px;
            margin-top: 55px;
            padding-right: 35px;
            width: 330px;

            &:nth-child(4) {
                margin-top: 0;
            }
        }

        @media all and (min-width: 1150px) {
            padding-right: 55px;
            width: 355px;
        }
    }

    &__text {
        font-size: $main-font-size-m;

        @media all and (min-width: 768px) {
            font-size: $main-font-size-l;
            width: 300px;
        }

    }

    &__icon {
        background-repeat: no-repeat;
        margin-bottom: 15px;

        @media all and (min-width: 1150px) {
          margin-bottom: 8px;
        }
    }

    &__icon path {
        fill: $accent-color;

        @media all and (min-width: 768px) {
            fill: #000;
        }

        @media all and (min-width: 1150px) {
            fill: $accent-color;
        }
    }
}
