@import 'container.css';

.aboutUs {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 35px;

    @media all and (min-width: 768px) {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    @media all and (min-width: 1150px) {
        padding-left: 175px;
        padding-top: 73px;
        padding-bottom: 38px;
    }

    &__header {

        @media all and (min-width: 768px) {
            margin-bottom: 50px;
        }

        @media all and (min-width: 1150px) {
        }
    }

    &__list {
        padding: 0;

        @media all and (min-width: 768px) {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 435px;
        }

        @media all and (min-width: 1150px) {
            margin-bottom: 50px;
        }
    }

    &__item {
        font-size: $main-font-size-s;
        font-weight: $font-weight-bold;
        line-height: auto;
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }

        @media all and (min-width: 768px) {
            font-size: 20px;
            margin-top: 55px;
            padding-right: 35px;
            width: 330px;

            &:nth-child(4) {
                margin-top: 0;
            }
        }

        @media all and (min-width: 1150px) {
            padding-right: 55px;
            width: 355px;
        }
    }

    &__text {

        @media all and (min-width: 768px) {
            width: 300px;
        }

    }

    &__icon {
        background-repeat: no-repeat;
        margin-bottom: 15px;
        height: 37px;

        @media all and (min-width: 1150px) {
          margin-bottom: 8px;
        }

        &--eco {
            background-image: url('../img/icon-feature-1.svg');
            width: 32px;
        }

        &--style {
            background-image: url('../img/icon-feature-3.svg');
            width: 47px;
        }

        &--likes {
            background-image: url('../img/icon-feature-5.svg');
            width: 54px;
        }

        &--with-love {
            background-image: url('../img/icon-feature-2.svg');
            width: 34px;
        }

        &--domestic {
            background-image: url('../img/icon-feature-4.svg');
            width: 54px;
        }

        &--gift {
            background-image: url('../img/icon-feature-6.svg');
            width: 33px;
        }
    }
}
