.aboutUs {
	background-color: #fff;

		&__icon {
		background-repeat: no-repeat;

			&--eco {
				background-image: url('../img/icon-feature-1.svg');
				height: 37px;
				width: 32px;
			}

			&--style {
				background-image: url('../img/icon-feature-3.svg');
				height: 27px;
				width: 47px;
			}

			&--likes {
				background-image: url('../img/icon-feature-5.svg');
				height: 28px;
				width: 54px;
			}

			&--with-love {
				background-image: url('../img/icon-feature-2.svg');
				height: 34px;
				width: 34px;
			}

			&--domestic {
				background-image: url('../img/icon-feature-4.svg');
				height: 23px;
				width: 54px;
			}

			&--gift {
				background-image: url('../img/icon-feature-6.svg');
				height: 32px;
				width: 33px;
			}
	}
}