@import 'vars.css';

.catalog {
    background-color: #fff;
    margin-top: 30px;

    @media all and (min-width: 768px) {
      margin-top: 70px;
    }

    @media all and (min-width: 1150px) {
      margin-top: 60px;
    }

    &__items {
        @media all and (min-width: 1150px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        border: 1px solid #ececec;
        margin-top: 30px;
        display: block;
        text-decoration: none;

        &:hover {
            box-shadow: 0 3px 7px 0 rgba(207, 205, 207, 1);
        }

        @media all and (min-width: 768px) {
            display: flex;
            margin-top: 52px;
        }

        @media all and (min-width: 1150px) {
            flex-direction: column;
            width: 315px;
        }
    }

    &__imageContainer {
        @media all and (min-width: 768px) {
            flex: 0 0 334px;
            height: 334px;
            overflow: hidden;
        }

        @media all and (min-width: 1150px) {
            flex: 0 0 460px;
            height: 460px;
            overflow: hidden;
        }
    }

    &__description {
        padding: 30px;

        @media all and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 23px 31px 27px 29px;
        }

        @media all and (min-width: 1150px) {
            flex-direction: row;
            flex-grow: 1;
            flex-wrap: wrap;
            padding: 25px;
        }
    }

    &__name {
        font-size: $item-title-font-size-s;
        font-weight: $font-weight-bold;
        line-height: $item-title-line-height;
        margin-bottom: 15px;

        @media all and (min-width: 768px) {
            font-size: $item-title-font-size-m;
            margin-bottom: 0;
        }

        @media all and (min-width: 1150px) {
            flex: 0 0 100%;
            margin-bottom: 7px;
        }
    }

    &__text {
        font-size: $desciption-font-size-s;
        line-height: $desciption-line-height;

        @media all and (min-width: 768px) {
            font-size: $desciption-font-size-m;
            padding-bottom: 20px;
        }

        @media all and (min-width: 1150px) {
            font-size: $desciption-font-size-m;
            padding-bottom: 12px;
        }
    }

    &__buy {
        border-top: 1px solid #ececec;
        margin-top: 30px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;

        @media all and (min-width: 768px) {
            margin-top: auto;
            padding-top: 20px;
        }

        @media all and (min-width: 1150px) {
            align-self: flex-end;
            flex: 0 0 100%;
            padding-top: 22px;
            margin-top: inherit;
        }
    }

    &__price {
        font-size: $price-font-size-s;
        font-weight: $font-weight-bold;
        line-height: $price-line-height;

        @media all and (min-width: 768px) {
            font-size: $price-font-size-m;
            margin-to: auto;
        }
    }

    &__toCart {
        background: url('../img/icon-cart.svg') no-repeat;
        width: 20px;
        height: 19px;
    }
}
