.container {
	background-color: #f9f9f9;
	width: 100%;

	&__center {
		margin: 0 auto;
		width: 320px;
		border: 1px solid green;

		@media all and (min-width: 768px) {
			width: 668px;
		}

		@media all and (min-width: 1150px) {
			width: 1050px;
		}
	}

	&--catalog {
		background-color: $pad-color;
	}
}
