.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 320px;

    @media all and (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }

    @media all and (min-width: 1150px) {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
}
