@import 'container.css';

.contacts {
    background-color: #fff;
    color: $main-color;
    padding-bottom: 40px;

    @media all and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    @media all and (min-width: 1150px) {
        min-height: 630px;
        padding-bottom: 100px;
        padding-top: 146px;
        position: relative;
    }

    &__header {
        font-weight: 400;
        margin-bottom: 30px;

        @media all and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        @media all and (min-width: 1150px) {
            justify-content: inherit;
            margin-bottom: 33px;
        }
    }

    &__flag {
        display: none;

        @media all and (min-width: 768px) {
            background: url('../img/icon-flag.svg') no-repeat;
            display: block;
            height: 82px;
            width: 47px;
            margin-top: -15px;
        }

        @media all and (min-width: 1150px) {
            order: -1;
            margin: -7px 63px 0 63px;
        }

    }

    &__content {

        @media all and (min-width: 1150px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 175px;
            width: 300px;
        }
    }

    &__table {
        border-spacing: 0;
        table-layout: fixed;
        width: 100%;

        @media all and (min-width: 1150px) {
            width: 315px;
        }

        tr {
            @media all and (min-width: 768px) {
                display: inline-block;
                padding-right: 30px;
                vertical-align: top;
                width: 50%;
            }

            @media all and (min-width: 1150px) {
                display: inherit;
            }

        }

    }

    &__name {
        height: 50px;
        width: 75px;
        word-break: break-all;

        @media all and (min-width: 1150px) {
          height: 60px;
        }
    }

    &__value {
        word-break: break-all;

        @media all and (min-width: 768px) {
            width: auto;
        }

    }

    &__emailLink,
    &__emailLink:visited {
        border-bottom: 1px solid $accent-color;
        color: $main-color;
        display: inline-block;
        height: 27px;
        text-decoration: none;
        word-break: break-all;

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &:active {
            color: $active-color;
            border-bottom-color: $active-color;
        }
    }

    &__mapContainer {
        margin: 30px -30px 0 -30px;
        overflow: hidden;
        position: relative;

        @media all and (min-width: 768px) {
            height: 460px;
            margin: 58px -50px 0 -50px;
            overflow: hidden;
            text-align: center;
        }

        @media all and (min-width: 1150px) {
            height: 459px;
            position: absolute;
            right: 35px;
            top: 18px;
            width: 526px;
        }
    }

    &__arrow {
        background-color: #fff;
        background: url('../img/icon-map-pin.svg') no-repeat;
        height: 101px;
        left: 124px;
        position: absolute;
        top: 165px;
        width: 66px;

        @media all and (min-width: 768px) {
            left: 50%;
            margin-left: -30px;
            margin-top: -50px;
            top: 50%;
        }
    }

    &__writeUs {
        margin-top: 40px;

        @media all and (min-width: 768px) {
            margin: 53px auto 0 220px;
            width: 230px;
        }

        @media all and (min-width: 1150px) {
            margin-top: 80px;
            margin: 80px auto 0;
        }
    }
}
