.developedBy {
    padding: 30px 0;
    text-align: center;

    @media all and (min-width: 768px) {
        padding: 0;
    }

    &__link {
        color: #000;
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        vertical-align: middle;

        &:active {
            color: #a8a8a8;
        }
    }

    &__link svg {
        fill: #63d1bb;
    }

    &__link:hover svg {
        fill: #46c1ae;
    }

    &__link:active svg {
        fill: #bde3dd;
    }

    &__text {
        display: inline-block;
        font-size: 19px;
        line-height: 18px;
        vertical-align: middle;
    }

    &__icon {
        background: url('../img/logo-htmlacademy.svg') no-repeat;
        display: inline-block;
        height: 34px;
        margin-left: 30px;
        vertical-align: middle;
        width: 27px;

        @media all and (min-width: 768px) {
          margin-left: 26px;
        }
    }
}
