@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('opensans'),
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('opensansbold'),
    url('../fonts/opensansbold.woff') format('woff'),
    url('../fonts/opensansbold.woff2') format('woff2');
}
