@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('opensans'),
  url('opensans.woff') format('woff'),
  url('opensans.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
  url('opensansbold.woff') format('woff'),
  url('opensansbold.woff2') format('woff2');
}