@import 'container.css';

.footer {
    background-color: #f1f1f1;
    margin-top: auto; /* Чтобы футер прилипал к низу страницы */
    width: 100%;

    &__content {

        @media all and (min-width: 768px) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 54px 0 41px;
        }

        @media all and (min-width: 1150px) {
            padding-top: 48px;
        }
    }

    &__logo {
        display: none;



        path {
            fill: #000;
        }

        &:hover path {
            fill: #46c1ae;
        }

        &:active path {
            fill: #cae6e2;
        }

        @media all and (min-width: 768px) {
            height: 35px;
            margin-right: 77px;
            width: 103px;
            display: block;
        }
    }
}
