@import 'container.css';

.footer {
    background-color: #f1f1f1;
    margin-top: auto; /* Чтобы футер прилипал к низу страницы */
    width: 100%;

    &__content {

        @media all and (min-width: 768px) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-bottom: 54px;
            padding-top: 54px;
        }

    }

    &__logo {

        @media all and (min-width: 768px) {
            background: url('../img/logo-mobile.svg') no-repeat;
            height: 35px;
            margin-right: 100px;
            width: 86px;
        }
    }
}
