@import 'vars.css';

.form {
    padding-top: 30px;
    padding-bottom: 50px;

    @media all and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 34px;
    }

    @media all and (min-width: 1150px) {
        padding-top: 103px;
        padding-bottom: 37px;
    }

    &__description {
        font-size: $main-font-size-xs;
        line-height: $main-line-height-xs;

        @media all and (min-width: 768px) {
            font-size: $main-font-size-m;
            line-height: $main-line-height-m;
            margin-left: -3px;
        }

        @media all and (min-width: 1150px) {
            padding-left: 173px;
            padding-right: 150px;
        }
    }

    &__pad:nth-child(2n) {
        @media all and (min-width: 768px) {
            background-color: #f1f1f1;
        }
    }

    &__pad:last-child {
        @media all and (min-width: 768px) {
            background-color: #fff;
        }
    }

    &__fieldset {
        padding-top: 30px;

        @media all and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            padding: 58px 0 52px 0;
        }

        @media all and (min-width: 1150px) {
            margin-left: 60px;
            padding-top: 58px;
            padding-bottom: 50px;
        }
    }

    &__fieldset--color {
        @media all and (min-width: 768px) {
            padding: 51px 0 52px 0;
        }
        @media all and (min-width: 1150px) {
            padding: 51px 0 52px 0;
            margin-left: 58px;
        }
    }

    &__fieldset--initials {
        @media all and (min-width: 768px) {
            padding: 58px 0 52px;
            width: 668px;
        }
        @media all and (min-width: 1150px) {
            width: 820px;
        }
    }

    &__fieldset--contacts {
        @media all and (min-width: 768px) {
            padding: 60px 0 52px;
            width: 668px;
        }
        @media all and (min-width: 1150px) {
            width: 820px;
        }
    }

    &__fieldset--additional {
        @media all and (min-width: 768px) {
            padding: 48px 0 53px 0;
            flex-wrap: nowrap;
            width: 665px;
        }

        @media all and (min-width: 1150px) {
            padding: 48px 0 52px 0;
            width: 811px;
        }
    }

    &__titleBlock {
        display: flex;
        padding-bottom: 35px;

        @media all and (min-width: 768px) {
            display: block;
            flex: 0 0 165px;
            padding-top: 6px;
            padding-bottom: 0;
        }

        @media all and (min-width: 1150px) {
            flex-basis: 113px;
            padding-top: 0;
        }
    }

    &__titleBlock--type {
        @media all and (min-width: 768px) {
            padding-top: 17px;
        }
    }

    &__titleBlock--color {
        @media all and (min-width: 768px) {
            padding-top: 18px;
        }
    }

    &__titleBlock--initials {
        @media all and (min-width: 768px) {
            padding-left: 0;
            flex-basis: 166px;
        }

        @media all and (min-width: 1150px) {
            flex-basis: 115px;
            padding-left: 2px;
            padding-top: 5px;
        }
    }

    &__titleBlock--additional {
        padding-top: 0;
    }

    &__titleBlock--additional {
        @media all and (min-width: 768px) {
            padding-top: 17px;
        }
    }

    &__title {
        color: $accent-color;
        font-size: $form-title-font-size;
        font-weight: $font-weight-bold;
        line-height: $form-title-line-height;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__line {
        border-top: 1px solid $accent-color;
        flex: 1 1 100%;
        height: 1px;
        margin-left: 25px;
        margin-top: 7px;

        @media all and (min-width: 768px) {
            display: none;
        }
    }

    &__hidden {
        display: none;
    }

    &__radioOption,
    &__checkboxOption {
        display: flex;
        align-items: center;
    }

    &__radioOption + &__radioOption {
        margin-top: 22px;

        @media all and (min-width: 768px) {
            margin-top: 24px;
        }

        @media all and (min-width: 768px) {
            margin-top: 26px;
        }
    }

    &__checkboxOption + &__checkboxOption {
        margin-top: 22px;

        @media all and (min-width: 768px) {
            margin-top: 24px;
        }

        @media all and (min-width: 768px) {
            margin-top: 26px;
        }
    }

    &__text {
        font-size: $form-input-font-size-s;
        line-height: $form-input-line-height-s;
        font-weight: $font-weight-bold;

        @media all and (min-width: 768px) {
            font-size: $form-input-font-size-m;
            line-height: $form-input-line-height-m;
        }
    }

    &__name {
        & + & {
            margin-top: 20px;
        }
    }

    &__radio {
        border-radius: 50%;
        border: 2px solid #000;
        content: '';
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        height: 40px;
        margin-right: 23px;
        order: -1;
        width: 40px;

        @media all and (min-width: 768px) {
            height: 50px;
            margin-right: 30px;
            width: 50px;
        }

        &:hover {
            border-color: $accent-color;
        }

        &:active {
            border-color: #e8e8e8;
        }
    }

    &__radio::before {
        background-color: $accent-color;
        border-radius: 50%;
        content: '';
        display: none;
        height: 16px;
        margin-left: 10px;
        margin-top: 10px;
        width: 16px;

        @media all and (min-width: 768px) {
            height: 20px;
            width: 20px;
            margin-left: 13px;
            margin-top: 13px;
        }
    }

    &__color {
        @media all and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            max-height: 210px;
            width: 473px;
        }

        @media all and (min-width: 1150px) {
            width: 800px;
        }
    }

    &__checkboxOption {
        width: 240px;

        @media all and (min-width: 1150px) {
            width: 265px;
        }
    }

    &__checkboxOption:nth-child(2n+1) {
        @media all and (min-width: 768px) {
            width: 263px;
        }
    }

    &__checkboxOption:nth-child(2n) {
        @media all and (min-width: 768px) {
            width: 190px;
        }

        @media all and (min-width: 1150px) {
            width: 263px;
        }
    }

    &__checkboxOption:nth-child(2) {
        @media all and (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__checkboxOption:nth-child(3) {
        @media all and (min-width: 1150px) {
            margin-top: 0;
        }
    }

    &__checkbox {
        border: 2px solid #000;
        content: '';
        display: inline-block;
        height: 40px;
        width: 40px;
        order: -1;
        margin-right: 23px;
        flex-grow: 0;
        flex-shrink: 0;

        &:hover {
            border-color: $accent-color;
        }

        &:active {
            border-color: #e8e8e8;
        }

        @media all and (min-width: 768px) {
            height: 51px;
            margin-right: 29px;
            width: 53px;
        }
    }

    &__checkbox::before {
        border: 2px solid #000;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
        content: '';
        display: none;
        height: 24px;
        margin-left: 11px;
        margin-top: 2px;
        transform: rotate(227deg);
        width: 15px;

        @media all and (min-width: 768px) {
            height: 30px;
            margin-left: 16px;
            margin-top: 2px;
            width: 16px;
        }
    }

    input[type="radio"]:checked ~ &__radio::before,
    input[type="checkbox"]:checked ~ &__checkbox::before {
        display: inline-block;
    }

    &__initialsBlock {

        @media all and (min-width: 768px) {
            flex-basis: 501px;
            display: flex;
            align-items: baseline;

        }

        @media all and (min-width: 1150px) {
            flex-basis: 700px;
        }
    }

    &__initialsBlock + &__initialsBlock {
            margin-top: 30px;

            @media all and (min-width: 768px) {
                margin-top: 31px;
            }

            @media all and (min-width: 1150px) {
                margin-top: 32px;
            }
        }

    &__initialsBlock:nth-child(3),
    &__initialsBlock:nth-child(4) {

        @media all and (min-width: 768px) {
            margin-left: 165px;
        }

        @media all and (min-width: 1150px) {
            margin-left: 114px;
        }
    }

    &__initials {
        margin-bottom: 15px;
        font-weight: $font-weight-bold;

        @media all and (min-width: 768px) {
            margin-right: 26px;
        }

        @media all and (min-width: 1150px) {
            margin-right: 25px;
        }
    }

    &__textInput {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #000;
        font-weight: 400;
        padding: 0 0 15px;
        width: 100%;

        @media all and (min-width: 768px) {
            padding-left: 12px;
        }

        @media all and (min-width: 1150px) {
            padding-bottom: 15px;
        }

        &:hover,
        &:focus {
            border-color: $accent-color;
            outline:  none;
        }

        &--withIcon {
            padding-right: 65px;
        }
    }

    &__title--contacts {
        @media all and (min-width: 1150px) {
            padding-top: 6px;
        }
    }

    &__row {
        position: relative;

        @media all and (min-width: 768px) {
            flex-basis: 501px;
        }

        @media all and (min-width: 1150px) {
            flex-basis: 700px;
        }
    }

    &__row--email {
        @media all and (min-width: 768px) {
            margin-top: 33px;
        }

        @media all and (min-width: 768px) {
            margin-top: 30px;
        }
    }

    &__row + &__titleBlock {
        margin-top: 30px;

        @media all and (min-width: 768px) {
            margin-top: 32px;
        }

        @media all and (min-width: 1150px) {
            margin-top: 36px;
        }
    }

    &__icon {
        position: absolute;
        width: 33px;
        height: 27px;
        top: 0;
        right: 0;
        background-repeat: no-repeat;

        path {
            fill: #ccc;
        }
    }

    &__icon--phone {

        @media all and (min-width: 768px) {
            right: 17px;
        }
    }

    &__icon--email {
        top: -2px;
        right: 5px;

        @media all and (min-width: 768px) {
            right: 17px;
        }
    }

    &__textarea {
        border: 2px solid #000;
        flex-grow: 1;
        font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
        font-weight: 400;
        height: 140px;
        padding: 15px;
        resize: none;
        width: 100%;

        @media all and (min-width: 768px) {
            flex-basis: 485px;
        }

        @media all and (min-width: 1150px) {
            flex-basis: 700px;
            flex-grow: 0;
        }
    }

    &__bottom {
        @media all and (min-width: 768px) {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            margin-left: -3px;
            max-width: 850px;
        }

        @media all and (min-width: 1150px) {
            margin-left: 172px;
            margin-right: 173px;
        }
    }

    &__clarification {
        margin: 20px 0 30px;

        @media all and (min-width: 768px) {
            flex: 0 0 305px;
            font-size: 17px;
            line-height: 30px;
            margin-right: -18px;
            margin-top: 11px;
            text-align: right;
        }

        @media all and (min-width: 1150px) {
            margin-top: 10px;
        }
    }

    &__submit {
        width: 100%;

        @media all and (min-width: 768px) {
            flex-basis: 230px;
            order: -1;
        }
    }
}
