@import 'container.css';

.itemOfWeek {
    @mixin center;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;

    @media all and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    @media all and (min-width: 1150px) {
        min-height: 760px;
        padding-bottom: 85px;
        padding-top: 135px;
    }

    &__header {

        @media all and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            width: 100%;
        }

        @media all and (min-width: 1150px) {
            justify-content: inherit;
            padding-left: 45px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        @media all and (min-width: 768px) {
          font-size: 43px;
          line-height: 50px;
        }

        @media all and (min-width: 1150px) {
            font-size: 53px;
            line-height: 57px;
            order: 1;
            padding-left: 55px;
        }
    }

    &__subtitle {
        color: $accent-color;
        font-size: 17px;
        font-weight: 700;
        line-height: 16px;
        margin-top: 10px;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
          margin-top: 16px;
          text-align: center;
        }

        br {
          display: none;

          @media all and (min-width: 768px) {
            display: inline;
          }
        }
    }

    &__content {

        @media all and (min-width: 768px) {
            width: 50%;
        }

        @media all and (min-width: 1150px) {
            padding-left: 175px;
        }

    }

    &__text {
        margin: 30px 0 30px;

        @media all and (min-width: 768px) {
          margin: 0 55px 55px 0;
          width: 290px;
        }

        @media all and (min-width: 1150px) {
            margin: 0 55px 0 0;
        }
    }

    &__table {
        border-collapse: collapse;
        color: $main-color;
        width: 100%;

        td {
            border-bottom: 1px solid $main-color;
            padding: 5px;
        }

        @media all and (min-width: 768px) {
          width: 290px;
        }
    }

    &__imageContainer {
        margin-top: 30px;
        height: 315px;
        width: 260px;

        @media all and (min-width: 768px) {
            margin-top: 0;
            height: 400px;
            width: 335px;
            position: absolute;
            right: 50px;
            top: 140px;
        }

        @media all and (min-width: 1150px) {
            margin-top: -94px;
            height: 630px;
            width: 525px;
            z-index: -1;
        }

    }

    &__image {
        height: 100%;
        width: auto;
    }

    &__price {
        font-weight: 700;
        margin: 30px 0 30px;
        text-align: center;

        @media all and (min-width: 768px) {
            margin: 66px 0 45px;
            width: 290px;
        }
    }

    &__orderButton {

        @media all and (min-width: 768px) {
          width: 290px;
        }

    }
}
