@import url('vars.css');

.modal {
    background-color: rgba(255,255,255,.9);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    &--hidden {
      display: none;
    }

    &__content {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        border-left-color: #fff;
        border-right-color: #fff;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        margin: auto;
        padding: 40px 30px 45px;
        text-align: center;
        vertical-align: middle;
        width: 320px;

        @media all and (min-width: 768px) {
            width: 568px;
        }

    }

    &__header {
        font-size: $title-font-size-xs;
        font-weight: $font-weight-bold;
        line-height: $title-line-height-xs;
        margin-bottom: 25px;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
            font-size: 30px;
            line-height: $title-line-height-l;
        }
    }

    &__subhead {
        margin-bottom: 28px;
    }

    &__options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;
        width: 100%;

        @media all and (min-width: 768px) {
            justify-content: center;
        }
    }

    &__option {
        border: 2px solid #ececec;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        width: 80px;

        @media all and (min-width: 768px) {
            height: 52px;
            width: 112px;
        }

        &:hover {
            border-color: #c7c7c7;
        }

        &:active {
            border-color: $accent-color;
        }
    }

    &__option + &__option {
        @media all and (min-width: 768px) {
            margin-left: 10px;
        }
    }

    &__button {
        @media all and (min-width: 768px) {
            margin: 0 auto;
            width: 358px;
        }
    }
}
