.modal {
    background-color: rgba(255,255,255,.9);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    &__content {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        border-left-color: #fff;
        border-right-color: #fff;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
        margin: auto;
        padding: 40px 30px 45px;
        text-align: center;
        vertical-align: middle;
        width: 320px;
    }

    &__header {
        margin-bottom: 25px;
    }

    &__subhead {
        margin-bottom: 28px;
    }

    &__options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;
        width: 100%;
    }

    &__option {
        border: 2px solid #ececec;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        width: 80px;

        &:hover {
            border-color: #c7c7c7;
        }

        &:active {
            border-color: $accent-color;
        }
    }
}
