.navMenu {
	background-color: $accent-color;

	&__icon {
		background-repeat: no-repeat;
		height: 62px;

		&--interior {
			background-image: url('../img/icon-interior.svg');
			width: 40px;
		}

		&--toys {
			background-image: url('../img/icon-toy.svg');
			width: 62px;
		}
	}
}