html,
body {
    box-sizing: border-box;
    font-family: 'Open-sans', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}
