.production {

    border: 1px solid #ececec;
    margin-bottom: 60px;
    margin-top: 30px;

    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 40px 45px;
        margin-top: 50px;
        margin-bottom: 65px;
    }

    @media all and (min-width: 1150px) {
        padding: 45px 0 50px 754px;
        margin-bottom: 105px;
        display: block;
        position: relative;
    }

    &__title {
        display: inline-block;
        font-size: $item-title-font-size-s;
        line-height: $item-title-line-height;
        font-weight: $font-weight-bold;
        left: 25px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-left: 50px;
        position: relative;
        width: 190px;

        @media all and (min-width: 768px) {
            font-size: $item-title-font-size-m;
            left: 0;
            padding-left: 63px;
            width: auto;

            &::before {
                top: -6px;
            }
        }

        @media all and (min-width: 1150px) {
            margin-bottom: 40px;
            padding: 40px 0 0;
            width: 140px;
        }
    }

    &__titleIcon {
        display: block;
        height: 32px;
        left: -30px;
        margin-left: 32px;
        position: absolute;
        top: 0;
        width: 32px;

        path {
            fill: $accent-color;
        }

        @media all and (min-width: 768px) {
            top: -6px;
        }

        @media all and (min-width: 1150px) {
            margin-left: 0;
            top: 0;
            left: 0;
        }
    }

    &__previewContainer {
        position: relative;

        @media all and (min-width: 768px) {
            height: 455px;
            margin: 0 0 40px -40px;
            order: -1;
            width: 668px;
        }

        @media all and (min-width: 1150px) {
            left: 0;
            margin: 0 80px 0 0;
            position: absolute;
            top: 0;
            width: 685px;
        }
    }

    &__previewPlayIcon,
    &__previewPlayIcon:visited {
        background-size: cover;
        background: url('../img/icon-play.svg') no-repeat;
        height: 77px;
        left: 50%;
        margin-left: -50.5px;
        margin-top: -38.5px;
        position: absolute;
        top: 50%;
        transition: all 0.5s;
        width: 101px;

        &:hover {
            transform: scale(1.2);
            transition: all 0.5s;
        }

        &:active {
            opacity: 0.8;
            transform: scale(0.8);
            transition: all 0.5s;
        }
    }

    &__text {
        padding: 30px;
        font-size: $main-font-size-s;
        line-height: $main-line-height-s;

        @media all and (min-width: 768px) {
          margin-bottom: 37px;
          padding: 0;
        }

        @media all and (min-width: 1150px) {
            margin-bottom: 60px;
            width: 230px;
        }
    }

    &__button {
        margin: 0 30px 30px;

        @media all and (min-width: 768px) {
            margin: 0;
        }

        @media all and (min-width: 1150px) {
            width: 230px;
        }
    }
}
