.production {

    border: 1px solid #ececec;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 30px;

    @media all and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 40px 45px;
        margin-top: 55px;
        margin-bottom: 65px;
    }

    @media all and (min-width: 1150px) {
        padding: 45px 0 50px 754px;
        margin-bottom: 105px;
        display: block;
        position: relative;
    }

    &__title {
        display: inline-block;
        font-size: $item-title-font-size-s;
        line-height: $item-title-line-height;
        font-weight: $font-weight-bold;
        left: 25px;
        margin-bottom: 30px;
        padding-left: 50px;
        position: relative;
        width: 190px;

        &::before {
            background: url('../img/icon-video.svg') no-repeat;
            content: '';
            display: block;
            height: 32px;
            left: -30px;
            margin-left: 32px;
            position: absolute;
            top: 0;
            width: 32px;
        }

        @media all and (min-width: 768px) {
            font-size: $item-title-font-size-m;
            left: 0;
            width: auto;


            &::before {
                top: -6px;
            }
        }

        @media all and (min-width: 1150px) {
            margin-bottom: 40px;
            padding: 40px 0 0;
            width: 140px;

            &::before {
                margin-left: 0;
                top: 0;
                left: 0;
            }
        }
    }

    &__previewPicture {
        background: url('../img/video-mobile@1x.jpg') no-repeat;
        height: 150px;
        width: 198px;
        margin: 0 0 30px 0;
        display: flex;

        @media all and (min-width: 768px) {
            background-size: cover;
            height: 455px;
            margin-left: -40px;
            order: -1;
            width: 648px;
        }

        @media all and (min-width: 1150px) {
            margin: 0 80px 0 0;
            width: 685px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__previewPlayIcon,
    &__previewPlayIcon:visited {
        background: url('../img/icon-play.svg') no-repeat;
        background-size: cover;
        height: 77px;
        margin: auto;
        width: 101px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
            transition: all 0.5s;
        }

        &:active {
            transform: scale(0.8);
            transition: all 0.5s;
        }
    }

    &__text {
        margin-bottom: 30px;
        font-size: $main-font-size-s;
        line-height: $main-line-height-s;

        @media all and (min-width: 1150px) {
            margin-bottom: 60px;
            width: 230px;
        }
    }

    &__button {
        @media all and (min-width: 1150px) {
            width: 230px;
        }
    }
}
