@import 'container.css';

.review {
    @mixin center;
    padding-top: 30px;
    padding-bottom: 55px;

    @media all and (min-width: 768px) {
        align-items: center;
        background: url('../img/review@1x.jpg') no-repeat;
        background-position-x: -50px;
        display: flex;
        flex-wrap: wrap;
        height: 455px;
        justify-content: space-between;
        position: relative;
        padding-top: 90px;
    }

    @media all and (min-width: 1150px) {
        padding-left: 175px;
        background-position-x: 50px;
    }

    &__header {
        font-weight: 700;

        @media all and (min-width: 768px) {
            order: -2;
        }
    }

    &__author {
        font-weight: 700;
        margin-top: 40px;
    }

    &__arrows {
        border-collapse: collapse;
        display: table;
        margin: 35px 0 40px;

        @media all and (min-width: 768px) {
            bottom: 40px;
            position: absolute;
            right: 30px;
            width: 165px;
        }
    }

    &__arrow {

        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid $pad-color;
        display: table-cell;
        height: 52px;
        width: 130px;

        &--prev {
            background-image: url('../img/icon-left-arrow.svg');
        }

        &--next {
            background-image: url('../img/icon-right-arrow.svg');
        }

        @media all and (min-width: 768px) {
            border: 0;
        }
    }

    &__writeButton {
        @media all and (min-width: 768px) {
            order: -1;
            width: 165px;
        }
    }
}
