.simpleTitle {
    background-color: $pad-color;
    padding: 78px 0 75px;
    text-align: center;

    @media all and (min-width: 768px) {
        background: $pad-color url('../img/bg-zigzag-fill.svg') center bottom;
        background-repeat: repeat-x;
        background-size: contain;
        padding: 92px 0;
    }
}
