.socials {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
    padding: 25px 0;
    width: 142px;

    @media all and (min-width: 768px) {
        border-bottom: 0;
        padding: 6px 0 0;
    }

    &__social {
        background-repeat: no-repeat;
        display: inline-block;

        path {
            fill: #000;
        }

        &:hover path {
            fill: #46c1ae;
        }

        &:active path {
            fill: #cae6e2;
        }

        & + & {
            margin-left: 37px;
        }

        &--insta {
            height: 20px;
            width: 21px;
        }

        &--fb {
            height: 28px;
            width: 15px;
        }

        &--twitter {
            height: 20px;
            width: 23px;

        }
    }
}
