.socials {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    text-align: center;

    @media all and (min-width: 768px) {
      border-bottom: 0;
    }

    &__social {
        background-repeat: no-repeat;
        display: inline-block;

        & + & {
            margin-left: 30px;
        }

        &--insta {
            background-image: url('../img/icon-insta.svg');
            height: 20px;
            width: 21px;
        }

        &--fb {
            background-image: url('../img/icon-fb.svg');
            height: 28px;
            width: 15px;
        }

        &--twitter {
            background-image: url('../img/icon-twitter.svg');
            height: 20px;
            width: 23px;

        }
    }
}
