@import 'vars.css';

body {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.title {
    font-size: $title-font-size-xs;
    font-weight: $font-weight-bold;
    line-height: $title-line-height-xs;

    &--pageHeader {
        font-size: $title-font-size-s;
    }

    @media all and (min-width: 768px) {
        font-size: $title-font-size-m;
        line-height: $title-line-height-m;
    }

    @media all and (min-width: 1150px) {
        font-size: $title-font-size-l;
        line-height: $title-line-height-l;
    }
}

.text {
    font-size: $main-font-size-s;
    line-height: $main-line-height-s;

    &--itemOfWeek {
        line-height: $main-line-height-xs;
    }

    @media all and (min-width: 768px) {
        font-size: $main-font-size-m;
        line-height: $main-line-height-m;
    }
}
