/* Colors
   ================================ */

$accent-color:              #62d1ba;

$main-color:                #444444;

$pad-color:                 #f1f1f1;

$input-text-color:          #c7c7c7;

$divider-color:             #e7e7e8;


/* Link
   ================================ */

$hover-color:               $accent-color;

$active-color:              #d2f0eb;

/* Typographcs
   ================================ */

/*Main*/
$font-weight-bold:          700;

$main-font-size-xs:         13px;
$main-line-height-xs:       24px;

$main-font-size-s:          15px;
$main-line-height-s:        30px;

$main-font-sizTe-m:          17px;
$main-line-height-m:        30px;


/*Title*/
$title-font-size-xs:        25px;
$title-line-height-xs:      30px;

$title-font-size-s:         27px;

$title-font-size-m:         43px;
$title-line-height-m:       50px;

$title-font-size-l:         53px;
$title-line-height-l:       57px;


/*Button*/
$button-font-size:          17px;
$button-line-height:        16px;

/*Catalog items*/
$item-title-line-height:    24px;
$item-title-font-size-s:    17px;
$item-title-font-size-m:    20px;

$desciption-line-height:    30px;
$desciption-font-size-s:    13px;
$desciption-font-size-m:    15px;

$price-line-height:         24px;
$price-font-size-s:         15px;
$price-font-size-m:         17px;

/*Link colors*/
$link-color:				#000;
$link-color-hover:			#666;
$link-color-active:			#b2b2b2;

/*Form*/
$form-title-font-size:		17px;
$form-title-line-height:	16px;

$form-input-font-size-s:	17px;
$form-input-line-height-s:	18px;

$form-input-font-size-m:	19px;
$form-input-line-height-m:	18px;
